<div id="container">
  <div class="app_name">OFFICE TRACKING</div>

  <div class="time_sheet" *ngFor="let daily of dailies">
    <div class="user">
      <div class="avt">
        <img [src]="daily.user.avatar" alt="" />
      </div>
      <div class="name_user">{{ daily.user.name }}</div>
    </div>
    <div
      *ngFor="let scheduleDate of daily.schedules.slice(0, 7)"
      class="schdules"
    >
      <div class="name_daily">{{ scheduleDate.dayNumber }}</div>
      <div class="name_daily">{{ scheduleDate.dayText }}</div>
      <!-- button -->
      <div class="btn_daily">
        <ion-button
          class="morning"
          [color]="getColor(scheduleDate.morning)"
          (click)="onClickOpenModal(true, scheduleDate)"
        >
        </ion-button>
        <ion-button
          class="morning"
          [color]="getColor(scheduleDate.afternoon)"
          (click)="onClickOpenModal(true, scheduleDate)"
        >
        </ion-button>
        <ion-button
          class="morning"
          [color]="getColor(scheduleDate.evening)"
          (click)="onClickOpenModal(true, scheduleDate)"
        >
        </ion-button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL1 -->
<ion-content class="ion-padding">
  <ion-modal [isOpen]="isOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Close</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <!-- 3 thẻ sellect -->
      <ion-content class="ion-padding">
        <ion-radio-group [(ngModel)]="status">
          <ion-radio value="Online" labelPlacement="end">Online</ion-radio
          ><br />
          <ion-radio value="Offline" labelPlacement="end">Offline</ion-radio
          ><br />
          <ion-radio value="Office" labelPlacement="end">Office</ion-radio
          ><br />
        </ion-radio-group>
      </ion-content>
    </ng-template> </ion-modal
  >`
</ion-content>
