#container {
  text-align: center;
  color: black;
  line-height: 22px;
  overflow: auto; /* hoặc overflow: scroll; */
  margin-top: 40px;
}
.app_name {
  margin-bottom: 20px;
}
.time_sheet {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 12px;
}
.schdules {
  padding: 0 6px;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 6px;
}
img {
  width: 50px;
  border-radius: 99999px;
}
.schedules {
  display: inline-grid;
  border: 1px solid #f5f5f5;
}
.name_daily {
  margin: 0;
  border-bottom: 1px solid #ccc;
  margin: 3px 0;
}
.btn_daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
}
.custom-botton {

  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 2px;
  background-color: gray;
}

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}
