<div id="container">
  <div class="app_name">OFFICE TRACKING</div>
  <div class="time_sheet" *ngFor="let daily of dailies">
    <div class="user">
      <div class="avt">
        <img [src]="daily.user.avatar" alt="" />
      </div>
      <div class="name_user">{{ daily.user.name }}</div>
    </div>
    <div
      *ngFor="let scheduleDate of daily.schedules.slice(0, 7)"
      class="schdules"
    >
      <div class="name_daily">{{ scheduleDate.dayNumber }}</div>
      <div class="name_daily">{{ scheduleDate.dayText }}</div>
      <!-- button -->
      <div class="btn_daily">
        <ion-button
          id="open-action-sheet"
          class="morning"
          [color]="getColor(scheduleDate.morning)"
          (click)="onClickButtonDay(true, scheduleDate, 'morning')"
        >
        </ion-button>
        <ion-button
          id="open-action-sheet"
          class="afternoon"
          [color]="getColor(scheduleDate.afternoon)"
          (click)="onClickButtonDay(true, scheduleDate, 'afternoon' )"
        >
        </ion-button>
        <ion-button
          id="open-action-sheet"
          class="evening"
          [color]="getColor(scheduleDate.evening)"
          (click)="onClickButtonDay(true, scheduleDate, 'evening')"
        >
        </ion-button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL 2 -->
<div class="containerModal">
  <ion-action-sheet
    class="my-custom-class"
    [isOpen]="isOpen"
    trigger="open-action-sheet"
    header="Select Option"
    [buttons]="actionSheetButtons"
    (willDismiss)="ReturnResult($event)"
    [backdropDismiss]="false"
  ></ion-action-sheet>
</div>
